:roor{
    --p:10%;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}
    /* CSS NACV */
nav{
    background-color: lightseagreen;
}

ul.menu{
    list-style-type: none;
    padding:0;
    margin:0;
}

ul.menu:first-child>li{
    border-left: 1px solid white;
}

ul.menu>li>a{
    display: block;
    padding:1rem;
    text-decoration: none;
}

ul.menu>li>a:hover{
    background-color:violet;
    color: white;
}

/* CSS HEADER */
header{
   background: linear-gradient(darkblue,blue);
}

h1.subject{
    color: white;
    font-size: 2.5rem;
    text-shadow: 3px 2px 1px whitesmoke;
}

/* CSS FOOTER */

footer{
    background-color: #0a6fa3;
    color:white ;
    
}

ul.index{
    list-style-type: none;
    padding:0;
    margin:0;
    text-decoration: none;
    color:white ;
}

/* CSS MAIN */
.course{
    width: 70%;
    margin: 0 auto;
    background-color: lightblue;
  
}

.course .title{
    background-color: blue;
    color: white;
    padding: var(--p);
   
margin-bottom: 0;
    border-radius: var(--p) var(--p) 0 0;
}

.avatar{
    width: 120px;
    border-radius: 50%;
    padding: 3px;
}

.forum{
    padding:var(--p);
    border-bottom: 1px solid white;
}
.forum:last-child{
    border-radius:0 0 var(--p) var(--p);
}
.forum>p:last-child{
    width: 300px;
   direction: rtl;
   font-style: italic;
}

/* CSS ADV */
.ads>div{
    width:14%;
    background:linear-gradient(darkblue,blue);
    color:white;
    text-align: center;
    padding:10rem 0;
    text-align: center;
    border-radius: var(--p);
    margin-top:5px;
    position:fixed;
}

.ads>div:first-child{
    left: 0.5%;
}

.ads>div:last-child{
    right: 0.5%;
}
